header {
  background-color: darkorange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  color: #333;
}

nav ul li {
  display: inline-block;
  padding: 0 1rem;
}

a {
  margin: 0 1rem;
  text-decoration: none;
  color: white;
}

a:hover {
  border-bottom: 1px dashed white;
}

.active {
  color: rgb(32, 24, 39);
  border-bottom: 1px dashed rgb(3, 247, 44);
  font-weight: 600;
}
